# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment variables
.env

# Data & Database storage
data/
*.chroma
*.db
*.sqlite3
*.tmp

# Prefect
.prefect/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE & System
.vscode/
.idea/
.DS_Store
Thumbs.db
